{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <h2>Mon profil utilisateur</h2>

    {% if is_granted('ROLE_ADMIN') %}
    <nav>
        <a href="{{ path('profile_users') }}">Afficher la liste des utilisateurs connectés</a>
    </nav>
    {% endif %}

    <p>...</p>

{% endblock %}
