{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <h2>Liste des utilisateurs connectés</h2>

    <ul>
        <li>Alexandre</li>
        <li>Arnaud H.</li>
        <li>Arnaud P.</li>
        <li>Yolande</li>
        <li>Léa</li>
        <li>Luis</li>
        <li>Nicolas</li>
        <li>Sean</li>
        <li>Souhail</li>
        <li>Tristan</li>
        <li>Véra</li>
        <li>Yanis</li>
        <li>Priam</li>
        <li>Lotshana</li>
    </ul>

{% endblock %}
