{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h2>Connexion</h2>

    {% if error is not null %}
        <div class="alert alert-warning">
            {{ error.messageKey | trans(error.messageData, 'security', 'fr') }}
        </div>
    {% endif %}

    <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <div class="mb-3">
            <label class="form-label">Identifiant:</label>
            <input type="text" name="_username" class="form-control" value="{{ last_username }}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Mot de passe:</label>
            <input type="password" name="_password" class="form-control" />
        </div>
        <button class="btn btn-outline-primary btn-sm">Se connecter</button>
    </form>

{% endblock %}
