{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!{% endblock %}

{% block body %}
    <h1>Request Controller</h1>
    <h2>Session: show</h2>

    <p><b>Valeur sauvegardée:</b> {{ value }}</p>

{% endblock %}
