{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h2>Liste des utilisateurs</h2>
    <div class="mb-3">
        <a href="{{ path('user_sign_up') }}" class="btn btn-outline-dark btn-sm">
            Inscrire un utilisateur
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.roles | join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
