{% extends 'base.html.twig' %}

{% block title %}Inscrire un utilisateur{% endblock %}

{% block body %}
    <h2>Inscrire un utilisateur</h2>

    <div class="mb-3">
        <a href="{{ path('user_index') }}" class="btn btn-outline-dark btn-sm">
            Retourner à la liste des utilisateurs
        </a>
    </div>

    {{ form_start(formUser) }}
    {{ form_rest(formUser) }}

    <button class="btn btn-outline-primary btn-sm">Inscrire</button>
    {{ form_end(formUser) }}
{% endblock %}
