<div class="bg-dark text-white p-2">
    {% if name is defined %}
        <p class="mb-0">Bonjour {{ name }}</p>
    {% endif %}
    <p class="mb-0">{{ "now"|date }}</p>
    <p class="mb-0">Il est 12:21, c'est bientôt l'heure d'aller manger.</p>
</div>
